@import url(../../App.css);

.aboutDiv {
	background-color: var(--color-background);
	padding-top: 10px;
	height: 100%;
}

.titleAbout {
	height: 100%;
	font-family: var(--font-primary);
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0;
	text-transform: uppercase;
}
