@import url(../../App.css);

.divDetail {
	background-color: var(--color-background);
	padding-top: 10px;
}

.divAllInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(70, 7, 84, 0.4);
	background-image: radial-gradient(
			at 35% 7%,
			rgba(132, 16, 158, 1) 0px,
			transparent 20%
		),
		radial-gradient(at 80% 0%, hsla(252, 71%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 50%, hsla(287, 67%, 30%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 49%, rgba(21, 21, 71, 0.393) 0px, transparent 50%),
		radial-gradient(at 19% 81%, hsla(277, 85%, 23%, 1) 0px, transparent 50%),
		radial-gradient(at 93% 100%, rgba(107, 70, 155, 0.481) 0px, transparent 50%);

	border-radius: 16px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(11.5px);
	margin: 10px 20%;
}

.divBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 60px;
}

.homeBtn {
	width: 100%;
	font-family: var(--font-tertiary);
	background-color: var(--color-tertiary);
	color: var(--color-text);
	padding: 9px 20px;
	font-size: 1.1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
}

.homeBtn:hover {
	border: 0.1px solid white;
	box-shadow: 0 0 15px var(--color-secondary), 0 0 5px var(--color-tertiary),
		0 0 5px var(--color-primary);
}

.infoDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.title {
	margin: 0;
	font-family: var(--font-secondary);
	font-size: 3rem;
	text-align: center;
	line-height: 2.5rem;
	color: var(--color-tertiary);
	text-transform: uppercase;
}

.info {
	font-family: var(--font-tertiary);
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: var(--color-text);
	text-align: center;
}

.imgDetail {
	width: 100%;
	border-radius: 16px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.39);
}

.rowInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.genresDisplay {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 10px;
	margin-left: 10px;
}

.infoBox {
	display: inline-block;
	background-color: #f5f5f59a;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: var(--font-tertiary);
	color: rgba(42, 39, 129, 0.606);
	font-size: 1rem;
}

.description {
	font-family: var(--font-tertiary);
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--color-text);
	text-align: justify;
	margin: 10px 10px;
}

.infoPlatforms {
	width: 100%;
	font-family: var(--font-primary);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.platforms {
	display: inline-block;
	justify-content: center;
	background-color: rgba(42, 39, 129, 0.606);
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: var(--font-tertiary);
	color: #f5f5f59a;
	font-size: 1rem;
}
