@import url(../../App.css);

body {
	background-image: url(../../assets/otherBackgrounds/1.svg);
	height: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.homeDiv {
	background-color: var(--color-background);
	text-align: center;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.componentsDiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 30px;
}

.searchBarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	margin-left: 50px;
}

.filtersContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	margin-right: 50px;
}

.cardsContainer {
	padding: 50px;
}

.paginationContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: var(--font-primary);
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.paginationContainer {
		align-items: flex-start;
	}
	.title {
		font-size: 1.2rem;
	}
}
